{% extends 'base.html.twig' %}


{% block body %}
    <div class="well col-sm-5">
        <form method="post" action="{{ path('creer_partie') }}">
            <fieldset>
                <div>
                    <div class="form-group">
                        Choisissez l'adversaire :
                        <select name="adversaire">
                            <option value=""> Choisir</option>
                            {% for joueur in joueurs %}
                                <option value="{{ joueur.id }}">{{ joueur.username }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div>
                        <input type="submit" value="Créer la partie">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}